<div id="lobby-container">
    {{> banner}}
    <div class="container-fluid py-5 main-container">
        <div class="container p-0">
            <div class="row mx-0 border border-dark rounded-3 secondary-container">
                <div class="col-8 p-0 border-end border-dark">
                    <div class="d-flex flex-column h-100 p-0">
                        <div class="p-3 border-bottom border-dark">
                            <h3>Teams:</h3>
                            <p>Select a team to join.</p>
                        </div>
                        <div id="teams-list"></div>
                        <div class="p-3">
                            <h5 class="mb-0"><b>Unassigned</b></h5>
                            <p>Players who are not currently assigned to any team.</p>
                            <div id="unassigned-players"></div>
                        </div>
                        <div class="mt-auto p-3">
                            <p class="mb-0"><b id="lobby-status-text">Waiting for all players to be ready...</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-4 px-0">
                    <div class="d-flex flex-column h-100 p-3">
                        <h3>Scenario Information:</h3>
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    <b>Name:</b>
                                    <br><span id="scenario-name-field"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <b>Author:</b>
                                    <br><span id="scenario-author-field"></span>
                                </p>
                            </div>
                        </div>
                        <p>
                            <b>Description:</b>
                            <br><span class="text-wrap" id="scenario-description-field"></span>
                        </p>
                        <button class="btn mt-auto text-center btn-dark" id="ready-button">Ready</button>
                    </div>
                </div>
            </div>
            <div class="w-50 mx-auto mt-4 p-3 text-center border border-dark rounded-3 secondary-container">
                <h3>Game Link:</h3>
                <p class="mx-auto mb-2" id="game-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy to Clipboard">{{baseUrl}}{{gameUrl}}</p>
            </div>
        </div>
    </div>
</div>
<div class="h-100 d-none" id="game-container">
    <div class="px-2 pt-2 text-start border border-dark bg-body d-none" id="game-tooltip">
        <div class="mb-2 d-none" id="game-tooltip-info-section">
            <p class="mb-0">
                <b id="game-tooltip-info-title"></b>
                <br><span id="game-tooltip-info-text"></span>
            </p>
        </div>
        <div class="mb-2 d-none" id="game-tooltip-tile-section">
            <p class="mb-0">
                <b>(<span id="game-tooltip-tile-coordinates"></span>): <span id="game-tooltip-tile-name"></span></b>
                <br>Traversable: <span id="game-tooltip-tile-traversable"></span>
                <span id="game-tooltip-tile-regions-section"><br><span id="game-tooltip-tile-regions"></span></span>
            </p>
        </div>
        <div class="mb-2 d-none" id="game-tooltip-ship-section">
            <p class="mb-0">
                <b id="game-tooltip-ship-name"></b>
                <br>Owner: <span id="game-tooltip-ship-owner"></span>
            </p>
            <div class="mt-2" id="game-tooltip-ship-attribute-section">
                <p class="mb-0"><b>Attributes:</b></p>
                <ul class="attribute-list" id="game-tooltip-ship-attribute-list"></ul>
            </div>
        </div>
        <div class="mb-2 d-none" id="game-tooltip-player-section">
            <p class="mb-0">
                <b><span id="game-tooltip-player-name"></span></b>
                <br>Team: <span id="game-tooltip-player-team"></span>
            </p>
            <div id="game-tooltip-player-attribute-section">
                <p class="mb-0"><b>Attributes:</b></p>
                <ul class="attribute-list" id="game-tooltip-player-attribute-list"></ul>
            </div>
            <div id="game-tooltip-player-team-attribute-section">
                <p class="mb-0"><b>Team Attributes:</b></p>
                <ul class="attribute-list" id="game-tooltip-player-team-attribute-list"></ul>
            </div>
        </div>
    </div>
    <div class="row h-100 mx-0 p-0 border-top border-dark">
        <div class="col-10 p-0 border-end border-dark" id="left-pane">
            <div class="d-flex w-100 h-100 d-none" id="popup">
                <div class="w-75 m-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5><b><span id="popup-title"></span>:</b></h5>
                            <div id="popup-content"></div>
                            <button class="btn btn-dark" id="popup-close-button">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between" id="main-attributes-panel">
                <div class="pt-1 pb-2 px-2 border border-dark" id="scenario-attributes">
                    <b class="mb-0">Scenario:</b>
                    <ul class="mb-0 attribute-list" id="scenario-attribute-list"></ul>
                </div>
                <div class="pt-1 pb-2 px-2 border border-dark" id="team-attributes">
                    <b class="mb-0">Team:</b>
                    <ul class="mb-0 attribute-list" id="team-attribute-list"></ul>
                </div>
                <div class="pt-1 pb-2 px-2 border border-dark" id="player-attributes">
                    <b class="mb-0">Player:</b>
                    <ul class="mb-0 attribute-list" id="player-attribute-list"></ul>
                </div>
            </div>
            <div class="border-top border-end border-dark" id="view-panel">
                <div class="row text-center" id="view-container"></div>
            </div>
            <div class="w-100" id="message-container">
                <div class="row text-center">
                    <div class="d-flex justify-content-center">
                        <div class="col-8" id="inner-message-container"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-1 justify-content-between" id="popup-buttons">
                <div class="d-block popup-button p-2 me-1 rounded-3" id="hotkey-popup-button">
                    <svg class="d-block bi bi-keyboard" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M14 5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h12zM2 4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2z"/>
                        <path d="M13 10.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm0-2a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm-5 0A.25.25 0 0 1 8.25 8h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 8 8.75v-.5zm2 0a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-.5zm1 2a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm-5-2A.25.25 0 0 1 6.25 8h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 6 8.75v-.5zm-2 0A.25.25 0 0 1 4.25 8h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 4 8.75v-.5zm-2 0A.25.25 0 0 1 2.25 8h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 2 8.75v-.5zm11-2a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm-2 0a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm-2 0A.25.25 0 0 1 9.25 6h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 9 6.75v-.5zm-2 0A.25.25 0 0 1 7.25 6h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 7 6.75v-.5zm-2 0A.25.25 0 0 1 5.25 6h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 5 6.75v-.5zm-3 0A.25.25 0 0 1 2.25 6h1.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-1.5A.25.25 0 0 1 2 6.75v-.5zm0 4a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm2 0a.25.25 0 0 1 .25-.25h5.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-5.5a.25.25 0 0 1-.25-.25v-.5z"/>
                    </svg>
                </div>
                <div class="d-block popup-button p-2 rounded-3" id="info-popup-button">
                    <svg class="d-block bi bi-info-circle" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </div>
            </div>
            <div class="canvas-wrapper h-100">
                <canvas width="100" height="100" id="game-canvas">
                    Sorry, your browser does not support the canvas element.
                </canvas>
            </div>
        </div>
        <div class="col-2 h-100 p-3 text-start">
            <div class="d-flex flex-column h-100">
                <div class="d-flex flex-column flex-grow-1 flex-shrink-1 mb-4 d-none" id="sidebar-ship-section">
                    <h4><b><span id="sidebar-ship-name">Ship Name</span>:</b></h4>
                    <p>
                        Owner: <span id="sidebar-ship-owner">Player Name</span>
                        <br>Description: <span id="sidebar-ship-description">This is a description for the ship.</span>
                    </p>
                    <div id="sidebar-ship-attribute-section">
                        <h5 class="mb-0"><b>Attributes:</b></h5>
                        <ul class="attribute-list" id="sidebar-ship-attribute-list">
                            <li><span>Health</span>: <span>5</span></li>
                        </ul>
                    </div>
                    <div id="sidebar-ship-ability-section">
                        <h5 class="mb-2"><b>Abilities:</b></h5>
                        <div class="d-grid mb-2" id="sidebar-ship-ability-container"></div>
                        <div id="sidebar-ship-ability-info-section">
                            <p>
                                <b id="sidebar-ship-ability-name"></b>:
                                <br><span id="sidebar-ship-ability-description"></span>
                            </p>
                            <div id="sidebar-ship-ability-attribute-section">
                                <p class="mb-0"><b>Attributes:</b></p>
                                <ul class="attribute-list" id="sidebar-ship-ability-attribute-list"></ul>
                            </div>
                            <button class="btn btn-dark w-100 d-none" id="sidebar-ship-ability-use-button"></button>
                            <div class="canvas-wrapper w-100" id="sidebar-ship-ability-canvas-wrapper">
                                <canvas width="100" height="100" id="ability-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-0 mt-auto" id="sidebar-ship-selection-section">
                    <h4 class="d-inline-block"><b>Place Ships: </b></h4><span>(<span id="sidebar-ship-selection-remaining-count">2</span> Remaining)</span>
                    <div class="d-flex flex-column mt-auto">
                        <div class="canvas-wrapper flex-grow-1">
                            <canvas width="100" height="100" id="ship-selection-canvas"></canvas>
                        </div>
                        <div class="w-100 mx-auto mt-2">
                            <div class="row m-0" id="cycle-ship-button-container">
                                <div class="px-0" id="previous-ship-button-container">
                                    <button class="btn btn-dark w-100" id="previous-ship-button">< Previous</button>
                                </div>
                                <div class="px-0" id="next-ship-button-container">
                                    <button class="btn btn-dark w-100" id="next-ship-button">Next ></button>
                                </div>
                            </div>
                            <button class="btn btn-dark w-100 d-none" id="placement-done-button">Done</button>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-0 mt-auto d-none" id="sidebar-turn-section">
                    <h5><b>Turn:</b></h5>
                    <div class="row g-2 mb-2 text-center" id="sidebar-turn-container"></div>
                    <button class="btn w-100 btn-dark" id="sidebar-turn-button" disabled>
                        <span id="sidebar-turn-text">Waiting for others...</span><span class="d-none" id="sidebar-turn-countdown-section"> [<span id="sidebar-turn-countdown"></span>]</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
