{{> banner}}

<div class="container-fluid py-5 text-center main-container">
    <h5>The game you are looking for has either already started, or does not exist!</h5>
    <h5>Try creating a new game, or make sure that the game id you are using is correct.</h5>
    <a class="mt-5 btn btn-dark" href="/">Return to Home Page</a>
</div>