{{> banner}}

<div class="container-fluid py-5 text-center main-container">
    <h5>Welcome to Better Battleships! A 2D game based off of the game Battleship, allowing for customisation over all aspects of the game.</h5>
    <h5>Scenario packs are ZIP files which can be shared between players and easily edited.</h5>

    <div class="container">
        <div class="row gx-5 px-4 pt-4">
            <div class="col">
                <div class="d-flex flex-column h-100 p-3 border border-dark rounded-3 secondary-container">
                    <h3>Create a new game!</h3>
                    <p>Create a new game using a default scenario pack, or upload your own scenario pack to use.</p>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab-scenario" role="tablist">
                            <button class="nav-link active" id="nav-scenario-built-in-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-scenario-built-in" type="button" role="tab"
                                    aria-controls="nav-scenario-built-in" aria-selected="true">
                                Built In
                            </button>
                            <button class="nav-link" id="nav-scenario-custom-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-scenario-custom" type="button" role="tab"
                                    aria-controls="nav-scenario-custom" aria-selected="false">
                                Custom
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tab-scenarioContent">
                        <div class="tab-pane fade show active" id="nav-scenario-built-in" role="tabpanel"
                             aria-labelledby="nav-scenario-built-in">
                            <div class="pt-4 text-start">
                                <p>Select a built in scenario pack to play with.</p>
                                <select class="form-select mb-3">
                                    <option value="1">Scenario 1</option>
                                    <option value="2">Scenario 2</option>
                                    <option value="3">Scenario 3</option>
                                    <option value="4">Scenario 4</option>
                                </select>
                                <div>
                                    <p id="scenario-1-description">This is some text about scenario 1. It explains everything you need to know about the scenario.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-scenario-custom" role="tabpanel" aria-labelledby="nav-scenario-custom">
                            <div class="pt-4 text-start">
                                <p>Drag and drop your custom scenario pack into the file drop.</p>
                                <div class="file-drop my-3 p-3 text-center border-dark border-dark rounded-3" id="file-drop">
                                    <p>Drag and drop scenario file here.</p>
                                </div>
                                <div class="alert alert-danger d-none" id="error-container">
                                    <p class="mb-1" id="error-context"></p>
                                    <p class="mb-0" id="error-message"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn mt-auto btn-dark" id="create-game-button">Create Game</button>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column h-100 p-3 border border-dark rounded-3 secondary-container">
                    <h3>Join an existing game!</h3>
                    <p>Enter the ID for an existing game.</p>
                    <form id="join-game-form" onsubmit="return false;">
                        <input type="text" class="form-control mb-3" id="game-id" placeholder="Game ID">
                        <div class="invalid-feedback" id="game-id-feedback"></div>
                        <label for="game-id"></label>
                    </form>
                    <button type="submit" form="join-game-form" class="btn mt-auto btn-dark">Join Game</button>
                </div>
            </div>
        </div>
    </div>
</div>
