{{> banner}}

<div class="container-fluid py-5 text-center main-container">
    <h5>Welcome to Better Battleships! A 2D game based off of the game Battleship, allowing for customisation over all aspects of the game.</h5>
    <h5>Scenario packs are ZIP files which can be shared between players and easily edited.</h5>

    <div class="container">
        <div class="row gx-5 px-4 pt-4">
            <div class="col">
                <div class="d-flex flex-column h-100 p-3 border border-dark rounded-3 secondary-container">
                    <h3>Create a new game!</h3>
                    <p>Create a new game using a default scenario pack, or upload your own scenario pack to use.</p>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab-scenario" role="tablist">
                            <button class="nav-link active" id="nav-scenario-built-in-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-scenario-built-in" type="button" role="tab"
                                    aria-controls="nav-scenario-built-in" aria-selected="true">
                                Built In
                            </button>
                            <button class="nav-link" id="nav-scenario-custom-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-scenario-custom" type="button" role="tab"
                                    aria-controls="nav-scenario-custom" aria-selected="false">
                                Custom
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tab-scenarioContent">
                        <div class="tab-pane fade show active" id="nav-scenario-built-in" role="tabpanel" aria-labelledby="nav-scenario-built-in">
                            <div class="pt-4 text-start">
                                <div class="d-flex mb-2 justify-content-between">
                                    <p>Select a built-in scenario pack to play with.</p>
                                    <div class="d-block p-0" id="download-scenario-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                                        </svg>
                                    </div>
                                </div>
                                <select class="form-select mb-3" id="scenario-list"></select>
                                <p class="mb-2"><b>Author: <span id="scenario-author"></span></b></p>
                                <p id="scenario-description"></p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-scenario-custom" role="tabpanel" aria-labelledby="nav-scenario-custom">
                            <div class="pt-4 text-start">
                                <p>Drag and drop your custom scenario pack into the file drop.</p>
                                <div class="file-drop my-3 p-3 text-center border-dark border-dark rounded-3" id="file-drop">
                                    <p>Drag and drop scenario file here.</p>
                                </div>
                                <div class="alert alert-danger d-none" id="error-container">
                                    <p class="mb-1" id="error-context"></p>
                                    <p class="mb-0" id="error-message"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn mt-auto btn-dark" id="create-game-button">Create Game</button>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column h-100 p-3 border border-dark rounded-3 secondary-container">
                    <h3>Join an existing game!</h3>
                    <p>Enter the ID for an existing game.</p>
                    <form id="join-game-form" onsubmit="return false;">
                        <input type="text" class="form-control mb-3" id="game-id" placeholder="Game ID">
                        <div class="invalid-feedback" id="game-id-feedback"></div>
                        <label for="game-id"></label>
                    </form>
                    <button type="submit" form="join-game-form" class="btn mt-auto btn-dark">Join Game</button>
                </div>
            </div>
        </div>
    </div>
</div>
