:root {
    --canvas-background-color: #32628c;
    --player-ready-color: var(--bs-success);
    --player-not-ready-color: var(--bs-danger);
    --turn-indicator-color: var(--bs-gray);
    --turn-indicator-this-player-color: var(--bs-gray-dark);
    --turn-indicator-active-color: var(--bs-success);
    --turn-indicator-this-player-active-color: var(--bs-yellow);
}

.player:not(.player-ready) {
    background: var(--player-not-ready-color);
}

.player.player-ready {
    background: var(--player-ready-color);
}

.turn-indicator {
    background: var(--turn-indicator-color);
    white-space: nowrap;
    transition: 150ms linear;
}

.turn-indicator.turn-indicator-active {
    background: var(--turn-indicator-active-color);
    transition: 150ms linear;
}

#game-link {
    width: min-content;
    white-space: nowrap;
}

#game-tooltip {
    position: absolute;
    z-index: 1000;

    pointer-events: none;

    font-size: 0.75rem;
}

#game-tooltip-ship-attribute-list {
    list-style-type: none;
}

#game-tooltip-ship-attribute-list > li {
    text-indent: -1.5rem;
}

#game-tooltip-ship-attribute-list > li:before {
    content: "- ";
}

.canvas-wrapper {
    position: relative;
    height: 100%;
}

.canvas-wrapper > canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.canvas-wrapper > canvas:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}

.canvas-wrapper > canvas:first-child {
    background: var(--canvas-background-color);
}

#button-previous-container, #button-next-container {
    width: 49%;
}

#button-next-container {
    margin-left: auto;
}
