:root {
    --canvas-background-color: #32628c;
    --player-ready-color: var(--bs-success);
    --player-not-ready-color: var(--bs-danger);
    --turn-indicator-color: var(--bs-gray);
    --turn-indicator-active-color: var(--bs-success);
    --ability-color: #ddd;
    --selected-ability-color: var(--bs-success);
    --ability-unavailable-color: var(--bs-gray);
}

.player:not(.player-ready) {
    background: var(--player-not-ready-color);
}

.player.player-ready {
    background: var(--player-ready-color);
}

#game-link {
    width: min-content;
    white-space: nowrap;
}

#sidebar-ship-section {
    overflow-y: auto;
}

#sidebar-ship-abilities {
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
}

#game-tooltip {
    position: absolute;
    z-index: 500;

    pointer-events: none;

    font-size: 0.75rem;
}

#info-popup {
    position: absolute;
    z-index: 1000;

    width: inherit;
    height: inherit;

    top: 50%;
    transform: translateY(-50%);

    pointer-events: none;
}

#info-popup-close-button {
    pointer-events: auto;
}

.ability {
    width: 2em;
    height: 2em;
    background-image: url("https://cdn0.iconfinder.com/data/icons/basic-arrows-1/80/Arrow_four_way-512.png");
    background-size: contain;
    background-color: var(--ability-color);
}

.ability.selected-ability {
    background-color: var(--selected-ability-color);
}

.ability.ability-unavailable {
    background-color: var(--ability-unavailable-color);
}

.attribute-list {
    list-style-type: none;
}

.attribute-list > li {
    text-indent: -1.5rem;
}

.attribute-list > li:before {
    content: "- ";
}

.turn-indicator {
    --turn-indicator-team-color: #000;
    background: linear-gradient(to bottom right, transparent 50%, var(--turn-indicator-team-color) 0) bottom right/1.5em 1.5em no-repeat, var(--turn-indicator-color);
    white-space: nowrap;
    transition: 150ms linear;
}

.turn-indicator.turn-indicator-active {
    --turn-indicator-color: var(--turn-indicator-active-color);
    transition: 150ms linear;
}

.canvas-wrapper {
    position: relative;
    overflow-y: hidden;
}

.canvas-wrapper > canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--canvas-background-color);
}

#previous-ship-button-container, #next-ship-button-container {
    width: 49%;
}

#next-ship-button-container {
    margin-left: auto;
}
