:root {
    --main-container-background: #f0f0f0;
    --secondary-container-background: var(--bs-light);
    --brand-color: #eee;
    --navigation-color: #1056a6;
    --navigation-secondary: #0f3874;
    --navigation-link-color: #eee;
    --navigation-divider-color: #bbb;
}

html, body {
    height: 100%;
}

main {
    min-height: 0;
}

.main-container {
    background: var(--main-container-background);
}

.secondary-container {
    background: var(--secondary-container-background);
}

.navbar {
    background: var(--navigation-color);
}

.navbar .navbar-brand {
    background: var(--navigation-secondary);
    color: var(--brand-color);
}

.navbar .nav-link {
    color: var(--navigation-link-color);
}

.nav.nav-tabs .nav-link.active {
    border-left-color: var(--navigation-divider-color);
    border-top-color: var(--navigation-divider-color);
    border-right-color: var(--navigation-divider-color);
    border-bottom: var(--secondary-container-background);
    background: var(--secondary-container-background);
}

.nav.nav-tabs {
    border-bottom-color: var(--navigation-divider-color);
}

input, select {
    background: var(--secondary-container-background);
}

.vertical-scroll {
    overflow: auto;
    overflow-y: scroll;
    -ms-overflow-y: scroll;
}

.file-drop {
    border: var(--bs-dark) 1px dashed;

    background: #DDD;
    transition: 150ms linear;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-drop.file-drop-highlighted {
    border-color: var(--bs-blue);
    background: var(--secondary-container-background);
    transition: 150ms linear;
}

.file-drop p {
    color: var(--bs-gray-dark);
}
