:root {
    --filled-box-background: #8ba9c4;
}

.h-divider {
    border-top: 1px solid black;
    width: 100%;
}

.boxed-container {
    border: 2px solid black;
    border-radius: 5px;
}

.filled-boxed-container {
    border: 2px solid black;
    border-radius: 5px;

    background: var(--filled-box-background);
}