{{> better-battleships-banner}}

<div class="container text-center">
    <div class="py-2">
        <h3>Create a game!</h3>
    </div>

    <div class="container grey-container">
        <div class="row">
            <div class="col-sm py-4">
                <h5>Scenario ZIP:</h5>
                <div class="file-drop w-100 align-items-center row mx-auto" id="file-drop">
                    <span class="py-3">Drag and drop scenario file here.</span>
                </div>
            </div>
            <div class="col-sm py-4">
                <h5>Other Settings:</h5>
                <p>Some other settings here.</p>
            </div>
        </div>
        <div class="py-4">
            <button class="btn btn-primary" id="submit-button" type="submit">Create</button>
        </div>
        <div class="d-none" id="error-container">
            <div class="h-divider"></div>
            <div class="container py-3">
                <p id="error-message"></p>
                <p id="error-context"></p>
            </div>
        </div>
    </div>
</div>