{{> better-battleships-banner}}

<div class="container text-center grey-container py-5 w-50">
    <h3>The game you are looking for does not exist!</h3>
    <p>Could not find a game with ID {{gameID}}</p>

    <div class="container py-5">
        <h5 class="py">Try creating a new game:</h5>
        <a href="/game/create" class="btn btn-primary">Create Game</a>
    </div>
</div>
