{{> banner}}

<div class="container row text-center mx-auto d-none">
    <div class="col-md">
        <canvas class="w-100" id="game-canvas" width="300" height="300">
            Sorry, your browser does not support the canvas element.
        </canvas>
    </div>
    <div class="col-md">
        <h3>Right Panel</h3>
    </div>
</div>

<div class="container row text-center mx-auto py-4 px-2" style="border: solid black 2px; border-radius: 5px">
    <div class="col-md-8" style="border-right: 1px solid;">
        <div class="h-100 d-flex flex-column">
            <h3>Teams:</h3>
            <div class="h-divider py-2"></div>
            <div class="container row flex-grow-1 px-0" id="team-pane"></div>
            <div class="h-divider py-2"></div>
            <h3>Unassigned:</h3>
            <div class="container row flex-grow-1" id="unassigned-pane"></div>
        </div>
    </div>
    <div class="col-md-4 text-start">
        <h3>Scenario:</h3>
        <div class="row">
            <div class="col-sm-6">
            <p class="mb-0"><b>Name: </b></p>
            <p id="scenario-name-field"></p>
            </div>
            <div class="col-sm-6">
                <p class="mb-0"><b>Author: </b></p>
                <p id="scenario-author-field"></p>
            </div>
        </div>
        <p class="mb-0"><b>Description:</b></p>
        <p class="text-wrap" id="scenario-description-field"></p>
    </div>
</div>

<div class="container text-center py-3 my-5 w-50 grey-container">
    <h3>Invite link:</h3>
    <div>
        <p class="px-2 mx-auto" style="width: max-content;" id="share-link" data-toggle="tooltip" data-bs-placement="right"  title="Copy to clipboard">{{baseUrl}}{{gameUrl}}</p>
    </div>
</div>
