<div class="py-5 jumbotron text-center">
    <h1>Better Battleships</h1>
    <p>This is some text about Better Battleships!</p>
</div>

<div class="container row text-center">
    <div class="col-md-8">
        <h3>Play Grid Test</h3>
        <canvas class="w-75" id="game-canvas" width="300" height="300">
            Sorry, your browser does not support the canvas element.
        </canvas>
    </div>
    <div class="col-md-4">
        <h3>Title</h3>
        <div class="file-drop w-100 align-items-center row mx-auto" id="file-drop">
            <span class="py-3">Drag and drop scenario file here.</span>
        </div>
    </div>
</div>
