<div class="py-5 jumbotron text-center">
    <h1>Better Battleships</h1>
    <p>This is some text about Better Battleships!</p>
</div>

<div class="container text-center">
    <h3>Play Grid Test</h3>
    <canvas class="w-50" id="game-canvas" width="300" height="300">
        Sorry, your browser does not support the canvas element.
    </canvas>
</div>
