:root {
    --grid-size-x: 10;
    --grid-size-y: 10;

    --grid-cell-size: 50px;
    --grid-cell-gap: 5px;
}

.play-grid {
    display: grid;

    overflow: scroll;
    width: 100%;

    justify-content: center;
    align-content: center;

    grid-template-columns: repeat(var(--grid-size-x), var(--grid-cell-size));
    grid-template-rows: repeat(var(--grid-size-y), var(--grid-cell-size));

    grid-auto-rows: 500px;

    grid-column-gap: var(--grid-cell-gap);
    grid-row-gap: var(--grid-cell-gap);
}

.play-grid-item {
    border: black 1px solid;
}
